TELEGRAM_BOT_TOKEN=8773768395:AAExrNwsDd8fN9P5c5zXBnqxRBKCzQ6XM48
TELEGRAM_CHAT_ID=750170873
TRADING_SYMBOLS=BTC,ETH,SOL,HYPE,SUI,VIRTUAL,ASTER
TIMEFRAME=5m
MIN_SIGNAL_STRENGTH=50
MIN_SIGNAL_CONFIDENCE=50